*{
    box-sizing: border-box;
    outline: 0;
}
.ToolList{
    background: #eee;
    width: 100%;
    height: 100%;
}
/* 头部操作区域 */
.tool-head{
    background: rgba(0,0,0,.8);
    text-align: center;
    padding: 20px 0;
}
.tool-head input{
    border: 1px solid #000;
    height: 40px;
    width: 300px;
    border-radius: 5px;
    font-size:1rem;
    padding: 0 1em;
}
.tool-head button{
    border: 1px solid #000;
    background: #a7340b;
    color: #eee;
    margin-left: 20px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
}
.tool-head button:hover{
    cursor: pointer;
    background: #c33b0b;
    color: #fff;
}

/* 底部任务区域 */
.tool-content{
   padding: 20px;
}
.tool-content h3{
    width: 600px;
    margin: 10px auto;
}
.tool-content p{
    width: 600px;
    margin: 2px auto;
    padding: 10px;
    background: #ccc;
    /* border-bottom: 1px dashed rgb(95, 6, 6); */
    display: flex;
}
.tool-content p span{
    height: 20px;
    line-height: 20px;
}
.tool-content p span:nth-of-type(1){
    background: rgba(0,0,0,.3);
    text-align: center;
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    color: #eee;
}
.tool-content p span:nth-of-type(2){
    flex: 1;
    margin: 0 10px;
}
.tool-content p span:nth-last-of-type(1){
    cursor: pointer;
    background: rgb(97, 29, 4);
    width: 40px;
    text-align: center;
    color: #eee;
    border-radius: 3px;
    font-size: 12px;
}






